.header {
    align-items: center;
    background: #873A64;
    color: white;
    display: inline-flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
  }
  
  .header__img {
    margin-left: 30px;
    width: 100px;
  }

 .header__cart,.header__menu_icon {
    width: 40px;
    margin-left: 40px;
    margin-right: 40px;
    cursor: pointer;
  }

  .header__menu {
      margin-right: 30px;
  }

  .section1, .section2 {
    display: inline-flex;
  }

  
  .header__menu ul {
    display: none;
    list-style: none;
    margin: 0px 0px 0px -14px;
    padding: 5px;
    position: absolute;
    width: 100px;
    text-align: right;
    background-color:rgba(255, 255, 255, 0.274);
    border-radius: 5px 5px 5px 5px;
  }
  .header__menu_list ul {
    display: none;
    list-style: none;
    margin: 0px 0px 0px 8px;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.274);
    border-radius: 5px 5px 5px 5px;
  }
  .header__menu:hover ul, ul:hover, .header__menu_list:hover ul {
      display: block;
  }
  
  .header__menu li, .header__menu_list li {
    margin: 10px 0px;
  }
  
  .header__menu li a, .header__menu_list li a {
    color: white;
    text-decoration: none;
  }
  
  .header__menu li a:hover, .header__menu_list li a:hover {
    text-decoration: underline;
  }
  
  .header__menu--profile, .header__menu_icon {
    align-items: center;
    display: flex;
    cursor: pointer;
  }
  
  .header__menu--profile img {
    margin-right: 8px;
    width: 40px;
  }