.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100px;
    border-radius: 0px 0px 40px 40px;
  }
  
  .main__title {
    color: white;
    font-size: 18px;
  }

  .input {
    background-color: rgba(255,255,255,0.1);
    border: 1.5px solid white;
    border-radius: 25px;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    height: 40px;
    outline: none;
    padding: 0px 80px;
    width: 100%;
  }
  
  ::placeholder {
    color: white;
  }